# Entornos y binarios
.venv/
__pycache__/
*.pyc
*.egg-info/

# Datos locales y logs
data/
logs/

# PySpark local temporales
spark-warehouse/
metastore_db/
derby.log

# Cachés de Testing y Linter
.pytest_cache/
.ruff_cache/
.coverage

# IDEs (VSCode, IntelliJ, etc)
.vscode/
.idea/